* {
    padding: 0;
    margin: 0;
}

.mainBar {
    width: 26%;
    height: 320px;
    margin: auto;
    margin-top: 200px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #BDBDBD;
}

.form {
    width: 100%;
    height: 180px;
}

.item {
    height: 40px;
    padding-top: 10px;
    padding-left: 50px;
}

.itemName {
    color: #ffffff;
    font-size: 20px;
}

.itemInput {
    height: 30px;
    width: 60%;
    margin-left: 10px;
    font-size: 16px;
    padding-left: 6px;
    background: none;
    border: 1px solid #ffffff;
}

.hr {
    border: none;
    background-color: #757575;
    height: 2px;
}

.loginBtn {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background-color: #03A9F4;
    border-radius: 6px;
    color: #ffffff;
    font-size: 18px;
}

.option {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}

.option2 {
    float: right;
}

.exLogin {
    width: 40%;
    margin: auto;
    margin-top: 20px;
}

.exLoginTitle {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.icon {
    width: 50px;
    height: 50px;
}

.icon2 {
    float: right;
}
